.header {

  &__shape {
    background-image: url("@/static/svgs/bgshape-1.svg");
    background-repeat: no-repeat;
    height: 750px;
    width: 800px;
    position: absolute;
    top: -150px;
    right: -130px;
    background-size: contain;
    opacity: 10%;
  }

  .menu {
    height: 60px;
  }

  .sidebar {
    top: 60px;
    width: 100%;
    position: fixed;
    background: rgba(0, 0, 0, 0.5);
    z-index: 10000;

    &__container {
      background: white;
      width: 300px;
      height: calc(100vh - 60px);
      overflow: auto;
      scrollbar-width: none;
      right: 0;
      position: absolute;
      //   transform: translateX(100%);
      //   transition: transform 300ms ease-out;
    }

    &__item {
      width: 100%;
      font-weight: 600;

      >a {
        width: 100%;
        padding: 10px 20px;
        display: flex;
        align-items: center;
        text-decoration: none;
        color: black;

        &:hover {
          color: #FF5464;
        }
      }
    }
  }
}
