    .hero {
    
        &__image {
            background-image: url("@/static/svgs/hero.svg");
            height: 300px;
            width: 500px;
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
            position: relative;
        }
    
        &__text {
            width: 480px;
        }
    }

